body{
    margin: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;

}

.container{
    padding: 20px 20px;
    display: grid;
    row-gap: 20px;
    /* grid-row: auto;
    grid-column: auto; */
}

.cont1, .cont2, .cont3{
    padding: 0 10px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.438);
    color: #fff;
    /* margin: 10px; */
    border-radius: 20px;   
}
